---
navlinks:
    - title: About acupuncture
      href: /about
    - title: Benefits of acupuncture
      href: /benefits-of-acupuncture
    - title: Treatment experience
      href: /treatment-experience
    - title: Practitioner profile
      href: /practitioner-profile
    - title: Location &amp; directions
      href: /location-and-directions
    - title: Contact me
      href: /contact

carousel:
    - image: img/slides/foot.jpg
      alt: Foot
      title: About acupuncture
      caption: >
        Acupuncture is the oldest continuously practiced medical system in the
        world and is used by one third of the world’s population as a primary
        health care system.  Because of its relatively low cost and its
        noninvasive nature, acupuncture has become a highly popular form of
        complementary health.
    - image: img/slides/back.jpg
      alt: A woman's back
      title: Benefits of acupuncture
      caption: >
        Acupuncture is often effective with a wide range of complaints,
        including chronic fatigue, depression, back pain, joint pain,
        infertility, asthma, addictions, trauma symptoms and stress.
        Acupuncture is also helpful for many chronic illnesses and health
        concerns that have no clear origin or cause.
    - image: img/slides/needle.jpg
      alt: Acupuncture needle
      title: Treatment experience
      caption: >
        The first appointment is typically a two-hour consultation.  During this
        visit we will speak at length about your health concerns and address any
        questions you may have about acupuncture and the healing process. We
        will also discuss your health and personal histories in detail, followed
        by a physical examination. The primary objective of the first
        appointment is to assess the underlying conditions that have led to your
        current concerns.
    - image: img/slides/profile.jpg
      alt: Nancy Smith
      title: Practioner profile
      caption:
        Nancy Smith, RN, M.Ac., L.Ac., Somatic Experiencing
        Practitioner&trade;, Licensed Acupuncturist, Retired Registered Nurse
        with extensive clinical experience. Five Element Acupuncture helped me
        through some health challenges, so I wanted to share this way to
        access one’s own healing resources. Therefore, even though I had a
        good career as a nurse, I became an acupuncturist.
---
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} &middot; {{ site.name }}</title>
    <meta name="description" content="Frederick Acupuncture">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="span10 offset2">
                    <div class="masthead clearfix">
                        <a href="/">Nancy Smith M.Ac. Licensed Acupuncturist, Somatic Experiencing&trade; Pracititioner</a>
                        <p class="pull-right">Call (301) 606-2185 to schedule an appointment</p>
                    </div>
                    <div class="navbar-wrapper">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <a data-toggle="collapse" type="button" data-target=".nav-collapse" class="btn btn-navbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        {% for link in page.navlinks %}
                                        <li>
                                            <a href="{{link.href}}">{{ link.title }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if page.type == "homepage" %}
                        <div id="myCarousel" class="carousel slide" data-pause="hover">
                            <ol class="carousel-indicators">
                                <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
                                <li data-slide-to="1" data-target="#myCarousel"></li>
                                <li data-slide-to="2" data-target="#myCarousel"></li>
                                <li data-slide-to="3" data-target="#myCarousel"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% for item in page.carousel %}
                                <div class="item{% if forloop.index0 == 0 %} active{% endif %}">

                                    <img src="{{ item.image }}" alt="{{ item.alt }}">
                                    <div class="carousel-caption">
                                        <h4>{{ item.title }}</h4>
                                        <p>{{ item.caption }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Carousel nav -->
                            <a data-slide="prev" href="#myCarousel" class="carousel-control left">&lsaquo;</a>
                            <a data-slide="next" href="#myCarousel" class="carousel-control right">&rsaquo;</a>
                        </div>
                    {% else %}
                        <div class="title">
                            <h1>{{ page.title }}</h1>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!-- .header -->
    <div class="content">
        <div class="container">
            <div class="inner">
                {{ content }}
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <a href="/practitioner-profile">
                <address class="image practitioner">
                    <strong>Nancy Smith RN, M.Ac.</strong><br>
                    Licensed Acupunturist, LLC<br>
                    Somatic Experiencing&trade;
                </address>
            </a>

            <a href="/location-and-directions">
                <address class="image location">
                    723 N. Market Street<br>
                    Frederick, MD 21701<br>
                    <abbr title="Phone">P:</abbr> (301) 606-2185
                </address>
            </a>
        </div>
    </footer>
    <script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script>
        !function($) {
            $(function() {
                $("#myCarousel").carousel();
            });
        }(window.jQuery);
    </script>
    <script>
        var _gaq=[['_setAccount','UA-15581524-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
